

.wrapper {
	
	height: 150px;
	background-color: #234465;
	width: 1200px;
}

img {
	max-width: 100%;
}

.logo-left{
	float: left;
	
	padding: 30px;
	width: 14%;
}


.side-right {
	float:right;
	width: 80%;
}


.clear-fix::after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}

ul li {
	display: inline-block;
	padding: 5px 10px;
	margin: 0px 5px;
}

ul li a {
	text-decoration: none;
	color:white;
}

.dropdown-menu {
	display: none;
}


.nav ul li:hover {
	
	background-color: blue;
	border-radius: 7px;

}


ul li:hover>ul {
	display: block;
	position: absolute;
	width: 200px;
	background-color: red;
	z-index:4;
	border-radius: 10px;

}

ul li a:hover {
	display: inline-block;
}

.search {
	box-sizing:border-box;
	width: 150px;

	position: relative;
	display:inline-block;
}

.user ul li a:hover {
	text-decoration: underline;

} 



.user {
	padding-top: 15px;
	width: 200px;
	margin-left: 450px;
	display: inline-block;
}

input[type="image"] {
	position: absolute;
	top: 3px;
	left: 197px;
	border-left: 1px solid grey;
	height: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}

input[type="search"] {
	border-radius: 5px;
	height: 25px;
	width: 220px;
	z-index:2;
}


